/* Carrossel da home */

* { margin: 3px; padding: 3px; }

.slider {
    display: block;
    height: 293px;
    width: 600px;
    margin: auto;
    margin-top: 20px;
    position: relative;
}

.slider li {
    list-style: none;
    position: absolute;
}

.slider img {
    margin: auto;
    height: 100%;
    width: 100%;
    vertical-align: top;
}

.slider input {
    display: none;
}

.slider label {
    background-color: white;
    bottom: 10px;
    cursor: pointer;
    display: block;
    height: 10px;
    position: absolute;
    width: 10px;
    z-index: 10;
}

.slider li:nth-child(1) label {
    left: 10px;
}

.slider li:nth-child(2) label {
    left: 40px;
}

.slider li:nth-child(3) label {
    left: 70px;
}

.slider img {
    opacity: 0;
    visibility: hidden;
}

.slider li input:checked ~ img {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

/* header */

.header {
    margin-top: -5%;
    position: relative;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}
nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    padding: 5px;
    color: #000000;
}

nav ul li a:hover {
    background-color: #3b8dff;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
    transition: 0.5s;

}

a {
    text-decoration: none;
    color: #000000;
}

p {
    color: #000000;
}

.logo {
    width: 400px; 
    height: 200px;
}

.icons {
    width: 50px;
    height: 65px;
}


/* Estilos para o rodapé */
footer {
    background-color: #fff;
    color: #16b3d6;
    padding: 20px;
    text-align: center;
  }
  
  /* Estilos para o texto de direitos autorais */
  footer p {
    margin: 0;
  }
  
  /* Estilos para as redes sociais */
  .redes-sociais {
    margin-top: 10px;
  }
  
  .redes-sociais a {
    color: #16b3d6;
    text-decoration: none;
    margin: 0 5px;
  }
  
  .redes-sociais a:hover {
    text-decoration: underline;
  }
  
  /* Outros estilos, conforme necessário */
  